<div class="container-fluid">
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="penguin.png">
      <div class="caption">
        <h3>Character Device Driver</h3>
        <p>This is Character Device Driver written in C for the Linux Kernel</p>
        </div>
    </a>
    </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="ImageShare.png">
      <div class="caption">
        <h3>ImageShare</h3>
        <p>iOS Mobile Application written in Swift for photo sharing plateform ImageShare</p>
        </div>
    </a>
    </div>
    <div class="col-xs-6 col-md-3">
   <a href="#" class="thumbnail">
      <img class="img-responsive" src="ImageShare.png">
      <div class="caption">
        <h3>ImageShare</h3>
        <p>Web Application written in AngularJS/HTML5/javascript for photo sharing plateform ImageShare</p>
        </div>
    </a>
    </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="ImageShare.png">
      <div class="caption">
        <h3>ImageShare</h3>
        <p>Backend written in PHP using Laravel framework for photo sharing plateform ImageShare</p>
        </div>
    </a>
</div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="peg.jpg">
      <div class="caption">
        <h3>GTA Application Website</h3>
        <p>Web Application written in PHP/HTML5/javascript/jQuery for Professors to evaluate new GTA applicants</p>
        </div>
    </a>
    </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img class="img-responsive" src="pacman.png">
      <div class="caption">
        <h3>Pacman Simulation</h3>
        <p>AI simulation of Pacman using Iterative deepening depth-first search algorithm</p>
        </div>
    </a>
    </div>
    <div class="col-xs-6 col-md-3">
   <a href="#" class="thumbnail">
      <img class="img-responsive" src="Hill.png">
      <div class="caption">
        <h3>Hill cipher</h3>
        <p>Implementing the popular Hill cipher encryption using Java</p>
        </div>
    </a>
    </div>
  </div>
  </div>